<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Reset password')"></head>
<body>
<h1>Type your new password</h1>
<form th:action="@{/login/password/reset}" method="post" th:object="${person}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{login}">
    <input type="hidden" th:field="*{active}">
    <input type="hidden" th:field="*{accountCreationDate}">
    <input type="hidden" th:field="*{token}">
    <input type="hidden" th:field="*{firstName}">
    <input type="hidden" th:field="*{lastName}">
    <input type="hidden" th:field="*{email}">
    <label for="password" th:text="#{person.password}"></label>
    <input type="password" name="password" id="password" th:field="*{password}">
    <p th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
    <br/>
    <label for="matchPassword" th:text="#{person.matchPassword}"></label>
    <input type="password" name="matchPassword" id="matchPassword" th:field="*{matchPassword}">
    <p th:each="err : ${#fields.errors('matchPassword')}" th:text="${err}"/>
    <br/>
    <button type="submit" th:text="#{button.submit}"></button>
</form>
</body>
</html>