<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer">

        <footer class="footer mt-5 noselect footer-color" style="cursor:default;">

            <!--<div class="container pb-3">-->
                <!--<div class="row h-100">-->
                    <!--<div class="col-md-4 my-auto mx-auto">-->
                        <!--<h5 class="font-weight-bold text-uppercase mb-4 text-center"-->
                            <!--th:text="#{label.footer.administrator.contact}"></h5>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row h-100">-->
                    <!--<div class="col-lg-2 col-sm-5 my-auto mx-auto text-right">-->
                        <!--<i class="fa fa-address-card fa-2x i-shadow"></i>-->
                    <!--</div>-->
                    <!--<div class="col-lg-2 col-sm-7 my-auto mx-auto">-->
                        <!--<p th:text="#{label.footer.administrator.contact.name}"></p>-->
                    <!--</div>-->

                    <!--<div class="w-100 d-lg-none"></div>-->

                    <!--<div class="col-lg-2 col-sm-5 my-auto mx-auto text-right">-->
                        <!--<i class="fas fa-envelope  fa-2x i-shadow"></i>-->
                    <!--</div>-->
                    <!--<div class="col-lg-2 col-sm-7 my-auto mx-auto">-->
                        <!--<a th:href="'mailto:' + #{label.footer.administrator.contact.email}"><p-->
                                <!--th:text="#{label.footer.administrator.contact.email}"></p></a>-->
                    <!--</div>-->

                    <!--<div class="w-100 d-lg-none"></div>-->

                    <!--<div class="col-lg-2 col-sm-5 my-auto mx-auto text-right">-->
                        <!--<i class="fas fa-map-marker-alt fa-2x i-shadow"></i>-->
                    <!--</div>-->
                    <!--<div class="col-lg-2 col-sm-7 my-auto mx-auto">-->
                        <!--<p th:text="#{label.footer.administrator.contact.location}"></p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="footer-copyright text-center m-0 py-1 footer-copyright-color my-auto">
                © 2019 Piggy bank
            </div>
        </footer>
    </div>
</body>
</html>